<!-- <div class="album-image" style="float: left; padding: 5px;">
    <span *ngIf="song?.album"></span>
    <span>
        <img  [src]="song?.img | imagen: 'playListsIMG'" style="max-width: 100px;"   alt="...">
    </span>

</div> -->



<div class="audio-file">

    <div>
        <span id="play-song-title" style="margin-left: 10px;">
                
        </span>
    </div>

    <audio controls id="player" style="max-width: 88%; max-height: 25px; margin-top: 5px; margin-left: 10px; ">
        <source id="mp3-source" src="" type="audio/mpeg" style="background-color: burlywood;">
        Tu navegador no es compatible
    </audio>



</div>

<!-- <h1>PLAYER</h1>  -->