<div id="content" class="animated fadeInUp bg-dark  dker" style="height: 100vh !important;" *ngIf="tokenValido">
    <div class="container aside-xl">
        <br> <br><br>
        <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">VOLUTA</span>
            <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                <span class="bar1 a1 bg-primary lter"></span>
                <span class="bar2 a2 bg-info lt"></span>
                <span class="bar3 a3 bg-success"></span>
                <span class="bar4 a4 bg-warning dk"></span>
                <span class="bar5 a5 bg-danger dker"></span>
                </span>
        </a>

        <section class="m-b-lg">
            <header class="wrapper text-center">
                <span style="font-size: 30px !important;">Crear contraseña.</span>
            </header>
            <form action="index.html">
                <div class="form-group">
                    <input type="password" [(ngModel)]="password1" name="password1" placeholder="Ingrese una contraseña" class="form-control rounded input-lg text-center no-border">
                    <input [(ngModel)]="val" name="valRc" type="hidden" class="form-control underline-input">
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="password2" name="password2" placeholder="Repite la contraseña" class="form-control rounded input-lg text-center no-border">
                </div>

                <button (click)='crearPassword();' type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Crear contaseña</span></button>

                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> {{ msgError }}
                </div>
                <!-- <p class="text-muted text-center"><small>Do not have an account?</small></p> -->
                <!-- <a href="signup.html" class="btn btn-lg btn-info btn-block rounded">Create an account</a> -->
            </form>

        </section>

    </div>
</div>




<div id="content" class="animated fadeInUp bg-dark  dker" style="height: 100vh !important;" *ngIf="tokenInvalido">
    <div class="container aside-xl">
        <br> <br><br>
        <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">VOLUTA</span>
            <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                <span class="bar1 a1 bg-primary lter"></span>
                <span class="bar2 a2 bg-info lt"></span>
                <span class="bar3 a3 bg-success"></span>
                <span class="bar4 a4 bg-warning dk"></span>
                <span class="bar5 a5 bg-danger dker"></span>
                </span>
        </a>

        <section class="m-b-lg">
            <header class="wrapper text-center">
                <span style="font-size: 20px !important;">Recuperar contraseña.</span>
            </header>

            <div class="alert alert-warning alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4><i class="fa fa-bell-alt"></i>Upsss!</h4>
                <p>Este enlace ya venció, intenta restaurar contraseña nuevamente...</p>
            </div>


        </section>

    </div>
</div>